@import "./index.scss";

#overlays {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);

    @media screen and (max-width: 320px) {
      height: 150vh;
    }
  }

  .content {
    position: fixed;
    top: 15vh;
    left: 15%;
    width: 70%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;

    @include mobile {
      left: 5%;
      width: 90%;
    }

    @keyframes slide-down {
      from {
        opacity: 0;
        transform: translateY(-3rem);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .cart__items {
      list-style: none;
      margin: 0;
      padding: 0;
      max-height: 20rem;
      overflow: auto;

      .cart__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #8a2b06;
        padding: 1rem 0;
        margin: 1rem 0;

        @media screen and (max-width: 400px) {
          flex-direction: column;
        }

        h4 {
          margin: 0 0 1rem 0;
          color: #363636;
        }

        h6 {
          margin-top: 1rem;
        }

        .summary {
          width: 10rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .price {
            font-weight: bold;
            color: #8a2b06;
          }

          .amount {
            font-weight: bold;
            border: 1px solid #ccc;
            padding: 0.25rem 0.75rem;
            border-radius: 6px;
            color: #363636;
          }
        }
      }
    }

    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: 1.5rem;
      margin: 1rem 0;
    }

    .actions {
      text-align: right;
      display: flex;
      justify-content: flex-end;

      @media screen and (max-width: 400px) {
        margin-top: 0.5rem;
      }

      button {
        font: inherit;
        font-weight: bold;
        font-size: 1.5rem;
        color: #8a2b06;
        border: 1px solid #8a2b06;
        text-align: center;
        border-radius: 10px;
        background-color: transparent;
        cursor: pointer;
        margin-left: 1rem;
        margin: 0.25rem;
        padding: 0.25rem 1rem;
        transition: 0.2s;

        &.order {
          background-color: #8a2b06;
          color: white;

          &:hover,
          &:active {
            background-color: #611f06;
          }
        }

        &:hover,
        &:active {
          background-color: #5a1a01;
          border-color: #5a1a01;
          color: white;
        }
      }
    }
  }
}
